<!DOCTYPE html>
<html>
<head>
</head>
<body>

Пройди капчу для дальнейшей игры на сервере

<%- captchaScript %>

<form action='/done' method="POST">
<input type='hidden' name='id' value='<%= id %>' />
<%- captchaDiv %>
<input type="submit" value="Завершить капчу" />
</form>

</body>
</html>
